<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>

<body class="container">
    <header>
        <%- include('header'); %>
    </header>
<main>
    <div class="jumbotron">
        <h1>RECON</h1>
        <%- include('recon'); %>
        <p>write about info about target machine</p>
        <h1>USER FLAG</h1>
        <%- include('userf'); %>
        <p>wrirte about info about how you obtained user flag</p>
        <h1>ROOT FLAG</h1>
        <%- include('rootf'); %>
        <p>wrirte about info about how you obtained root flag</p>
    </div>
</main>

<footer>
    <%- include('footer'); %>
</footer>

</body>
</html>